* {
	box-sizing: border-box;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	background-image: url('../img/pixel-jeff-galaxy-far-far-away.gif');
	background-size: cover;
	background-position: center;
	height: 100vh;
}

main {
	position: relative; /* Nécessaire pour positionner le pseudo-élément */
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1; /* Assure que le contenu reste au-dessus */
}

main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1); /* Couleur semi-transparente */
	backdrop-filter: blur(4px); /* Effet de flou */
	z-index: -1; /* Place le pseudo-élément derrière le contenu */
}

h1 {
	text-align: center;
	font-family: 'Bungee Spice', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5rem;
}

.chat_zone {
	width: 850px;
	height: 515px;
	overflow-y: scroll;
	margin-inline: auto;
	text-align: center;
	border: 3px solid orange;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 15px 10px;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE et Edge */
	background-image: url('../img/abstract-futuristic-background-glowing-technology-sci-fi-frame-hud-ui_313905-1007.png');
	background-size: cover; /* Ajout de cette ligne pour que l'image remplisse la zone */
}

.chat_zone::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.message_zone {
	flex: 1 1 auto;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 5px;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE et Edge */
	width: 80%;
	height: 50%;
	margin-inline: auto;
	margin-top: 100px;
	margin-bottom: 100px;

	.message_zone::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}
}
.message {
	background-color: #066cf6;
	border-radius: 12px;
	padding: 5px 10px;
	width: fit-content;
	max-width: 50%;
	color: white;
}

.message_zone > .gpt {
	align-self: flex-start;
	background-color: green;
}

.message_zone > .human {
	align-self: flex-end;
}

h2,
p,
label {
	color: white;
}

.starter_zone {
	width: 50%;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.input_zone {
	flex-shrink: 0;
}

@media (max-width: 699px) {
	.chat_zone {
		background-size: contain; /* Ajout de cette ligne pour que l'image remplisse la zone */
		min-width: unset;
		max-width: 80%;
		width: 95%;
		margin-inline: 0;
	}

	.message_zone {
		margin: 0;
	}
}
